extends layout

block content
  include navigation
  input#firstData(type="hidden", user=JSON.stringify(user), products=JSON.stringify(products))
  != js("cart")
  #corzina
    .cabinet-cont
      .menu
        .order-list Лист заказа
        .pay-list Доставка и оплата
        .agree-list Подтверждение
      .main-text Если вы хотите воспользоваться промо-предложением, введите ваш промо-код в строке с продуктом.
        br
        | Акция не распространяется более, чем на 2 продукта и на продукты по специальной цене.
        br
        | Если вы хотите воспользоваться вашими бонусными баллами для снижения стоимости продукта, введите количество используемых баллов.
    
    
      table#cont-cart
        tr
          th
          th
          th
          th Вид/оттенок
          th Кол-во
          th Цена
          th Промокод
          th Бонусные баллы
          th Стоимость
        - each pr in products
          tr(class="del#{pr['_id']}")
            td
              img.del-prod-cart(src="../img/bask2.png", idProd="#{pr['_id']}")
            td.picture
              img(src!="../img/products/#{pr['_id']}/#{pr.picture[0]}", width="53px", height="53px")
            td.title
              .tit #{pr.title}
              .descr  #{pr.minOpisanie}
            td.type
              select
                - if(pr.vid.length)
                  -each vid in pr.vid 
                    option #{vid}
                - if(!pr.vid.length)
                  option one kind
            td.count
              input.cost-change-cart(type="number", min=1, id!="ch#{pr['_id']}", cost='#{pr.cost}', value=1)   
            td.cost(id!="cost#{pr['_id']}") #{pr.cost} 
              span p
            td.promocode
              input.promocode-input(type="text", idP!="#{pr['_id']}")
            td.bonus  
              input(type="text", idP!="#{pr['_id']}")
            td.result-change-cart
              span.cost-prod(id!="res#{pr['_id']}", style="font-size:28.14px") #{pr.cost} 
              span p
          tr(class!="del#{pr['_id']}")
            td.line(colspan="9")
              img(src="../img/line7.png", width="100%")
        tr
          td.summ(colspan="8") Сумма заказа
          td.result-change-cart 
            span#total-cost(style="font-size: 28.14px;")
            span p
      .info При заказе от 1700 рублей доставка БЕСПЛАТНАЯ 
      .actions
        .view-more Посмотреть еще
        .next Продолжить
      
    script#productTemplate(type="text/template")
      tr
        td <%=pr.title%>
        td(id!="cost<%=pr['_id']%>") <%=pr.cost%>
        td
          input.cost-change-cart(type="number", id!="ch<%=pr['_id']%>", cost!="<%=pr['cost']%>")
        td.result-change-cart(id!="res<%=pr['_id']%>") <%=pr['cost']%>
    
    
