extends layout

block content
  include navigation
  input#firstData(type="hidden", user=JSON.stringify(user))
  != js("cart")
  #corzina
    .cabinet-cont
      .menu
        .order-list Лист заказа
        .pay-list Доставка и оплата
        .agree-list Подтверждение
      .main-text Если вы хотите воспользоваться промо-предложением, введите ваш промо-код в строке с продуктом.
        br
        | Акция не распространяется более, чем на 2 продукта и на продукты по специальной цене.
        br
        | Если вы хотите воспользоваться вашими бонусными баллами для снижения стоимости продукта, введите количество используемых баллов.
    
    
      table#cont-cart
        tr
          th
          th
          th
          th Вид/оттенок
          th Кол-во
          th Цена
          th Промокод
          th Бонусные баллы
          th Стоимость
        - each pr in products
          tr
            td
              img(src="../img/bask2.png")
            td.picture
              img(src="../img/product.png", width="100%")
            td.title
              .tit #{pr.title}
              .descr  Компактные румяна с пуховкой, 5  оттенков
            td.type 
              select 
                option ОттенокодинОттенокодинОттенокодин
                option Оттенок два
                option Оттенок три
            td.count
              input.cost-change-cart(type="number", id!="ch#{pr['_id']}", cost='#{pr.cost}')   
            td.cost(id!="cost#{pr['_id']}") #{pr.cost} 
              span p
            td.promocode
              input(type="text")
            td.bonus  
              input(type="text")
            td.result-change-cart(id!="res#{pr['_id']}") #{pr.cost} 
              span p
          tr
            td.line(colspan="9")
              img(src="../img/line7.png", width="100%")
        tr
          td.summ(colspan="8") Сумма заказа
          td.result-change-cart 339
            span p
      .info При заказе от 1700 рублей доставка БЕСПЛАТНАЯ 
      .actions
        .view-more Посмотреть еще
        .next Продолжить
      
    script#productTemplate(type="text/template")
      tr
        td <%=pr.title%>
        td(id!="cost<%=pr['_id']%>") <%=pr.cost%>
        td
          input.cost-change-cart(type="number", id!="ch<%=pr['_id']%>", cost!="<%=pr['cost']%>")
        td.result-change-cart(id!="res<%=pr['_id']%>") <%=pr['cost']%>
    
    
