extends layout


block content
  include navigation
  != js('home')
  #myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      - each item, index in action
        li.click-action(data-target="#myCarousel",data-slide-to!=index)
    .carousel-inner
      - each item in action
        .item.item-action
          a(href="#")
            img(src!="../img/actions/#{item['_id']}/logo.#{item.logo}")
    a.left.carousel-control(data-slide="prev",href="#myCarousel")
    a.right.carousel-control(data-slide="next",href="#myCarousel")
  #advantage-cont
    .advantage.quality
      .pict
      .text Гарантия качества
    .advantage.safety
      .pict
      .text Безопасность
    .advantage.delivery
      .pict
      .text Быстрая доставка
    .advantage.gifts
      .pict
      .text Подарки
    .advantage.easy-payment
      .pict
      .text Удобные способы оплаты
    .advantage.back-guarantee
      .pict
      .text Гарантия возврата
  .bestsellers-title Бестселлеры
  #myCarousel2.carousel.slide(data-ride="carousel")
    .carousel-inner
      - each itemArr in vetrina
        .item.item-vetrina
          - each item in itemArr
            .prod
              img(src !="../img/products/#{item['_id']}/0.#{item.picture[0]}", width="124px", height="144px")
              .title #{item.title}
              .descr #{item.minOpisanie}
              .old-price #{item.oldCost}
              .new-price #{item.cost} р
              a(href != "/product/#{item['_id']}")
                .in-basket В КОРЗИНУ
        //.item
          .prod
            img(src="../img/prod.jpg", width="124px", height="144px")
            .title TONYMOLY Peach Anti-Aging Hand Cream
            .descr Утрапитательный крем для рук против старения кожи
            .old-price 417
            .new-price 339 р
            .in-basket В КОРЗИНУ
       
    a.left.carousel-control(data-slide="prev",href="#myCarousel2")
    a.right.carousel-control(data-slide="next",href="#myCarousel2")

  .go-catalog
    a(href="#") Перейти к каталогу  >
  .free-delivery Бесплатная доставка по всей россии от 3000 рублей!
  .discount-cont
    input.name(placeholder="Ваше имя")
    input.email(placeholder="Ваш email")
    a.discount(href="#") Получить скидку!
  .novelty-title Новинки
  
  #myCarousel4.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#myCarousel",data-slide-to="0")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
      li(data-target="#myCarousel",data-slide-to="3")
      li(data-target="#myCarousel",data-slide-to="4")
    .carousel-inner
      .item.active
        img(src="http://i.nenuna.net/2013/03/16/15706/15706_1363442026_2.jpg")
      .item
        img(src="http://aptekaforte.ru/netcat_files/Image/tonymoly.jpg")
      .item
        img(src="http://062012.imgbb.ru/f/2/1/f213fea1e9a4d01a621dbe230acb616a.jpg")
      .item
        img(src="http://forum.ngs.ru/preview/forum/upload_files/1673a8d7dd8907489258876ba219465d_bf018319ae2b0c9a627d3826e5232dec_133951277057_800px.jpg")
    a.left.carousel-control(data-slide="prev",href="#myCarousel4")
    a.right.carousel-control(data-slide="next",href="#myCarousel4")
  
  
  
  //.novelty-left
    img(width="372", height="302")
  //.novelty-right
    .title Returning Starfish Eye Cream от MIZON
    .descr интенсивный восстанавливающий крем для контура глаз с экстрактом морской звезды
    .price 779р
    .detail Подробнее
    .buy Купить
  .brands-title Бренды
  #myCarousel3.carousel.slide(data-ride="carousel")
    .carousel-inner
      - each itemArr in brend
        .item.item-brend
          - each item in itemArr
            a(href="/nav/brend?key="+item['_id'])
              img.brand(src !="../img/brends/#{item['_id']}/img.#{item.img}")
    a.left.carousel-control(data-slide="prev",href="#myCarousel3")
    a.right.carousel-control(data-slide="next",href="#myCarousel3")



  .reviews-title Отзывы
