extends layout


block content
  include navigation
  != js('home')
  #myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      - each item, index in action
        li.click-action(data-target="#myCarousel",data-slide-to!=index)
    .carousel-inner
      - each item in action
        .item.item-action
          a(href!="/nav/promotions?key=#{item['_id']}")
            img(src!="../img/actions/#{item['_id']}/logo.#{item.logo}")
    a.left.carousel-control(data-slide="prev",href="#myCarousel")
    a.right.carousel-control(data-slide="next",href="#myCarousel")
  #dop-cont
    .sp1 Если привычная косметика не дает результата  - 
    .sp2 попробуйте корейскую!
    .line4
    p Корейцы - самые требовательные к своей внешности азиаты. Их главное правило - 
      span безупречная кожа и густые, блестящие волосы должны быть у каждого!
    p По этой причине на корейском рынке косметики сильнейшая конкуренция - производители постоянно совершенствуют производство, сочетая передовые азиатские технологии и секреты восточной медицины. Поэтому качество у корейских продуктов становится все выше, а цена - ниже!  
    .line4
    .advantage-title От нас:

  #advantage-cont
    .advantage.quality
      .pict
      .text Гарантия качества
    .advantage.safety
      .pict
      .text Безопасность
    .advantage.delivery
      .pict
      .text Быстрая доставка
    .advantage.gifts
      .pict
      .text Подарки
    .advantage.easy-payment
      .pict
      .text Удобные способы оплаты
    .advantage.back-guarantee
      .pict
      .text Гарантия возврата
  .free-delivery ДОСТАВКА ПО ВСЕЙ РОССИИ ДО ПОДЬЪЕЗДА
  .from-you-cont
    .from-you-title От вас только:
    .actions
      .num 1
      .text1 выбрать продукцию 
      .num.num2 2
      .text2 оставить заявку в корзине или оформить заказ онлайн
    .or или
  .leave-request-cont
    .text-block.block1 Оставить заявку и получить
    .text-block.block2 бесплатную консультацию
    .actions
      input.name(type="text", placeholder="Ваше имя")
      input.phone(type="text", placeholder="Ваш телефон")
      .sen-req Отправить заявку


      
  .bestsellers-title НАШИ БЕСТСЕЛЛЕРЫ
  #myCarousel2.carousel.slide(data-ride="carousel")
    .carousel-inner
      - each itemArr in vetrina
        .item.item-vetrina
          - each item in itemArr
            .prod
              img(src !="../img/products/#{item['_id']}/#{item.picture[0]}", width="124px", height="144px")
              .title #{item.title}
              .descr #{item.minOpisanie}
              .old-price #{item.oldCost}
                - if (item.oldCost)
                  span &nbsp;р
              .new-price #{item.cost}
                span &nbsp;р
              a(href != "/product/#{item['_id']}")
                .in-basket В КОРЗИНУ
        //.item
          .prod
            img(src="../img/prod.jpg", width="124px", height="144px")
            .title TONYMOLY Peach Anti-Aging Hand Cream
            .descr Утрапитательный крем для рук против старения кожи
            .old-price 417
            .new-price 339 р
            .in-basket В КОРЗИНУ

    a.left.carousel-control(data-slide="prev",href="#myCarousel2")
    a.right.carousel-control(data-slide="next",href="#myCarousel2")

  .go-catalog.type1
    a(href="#") Перейти к каталогу  >

  .novelty-title НОВИНКИ
  #myCarousel4.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      - each item, index in news
        li.click-new(data-target="#myCarousel",data-slide-to!=index)
    .carousel-inner
      - each item in news
        .item.item-new
          a(href="/nav/new")
            img(src!="../img/news/#{item['_id']}/logo.#{item.logo}")
    a.left.carousel-control(data-slide="prev",href="#myCarousel4")
    a.right.carousel-control(data-slide="next",href="#myCarousel4")



  //.novelty-left
    img(width="372", height="302")
  //.novelty-right
    .title Returning Starfish Eye Cream от MIZON
    .descr интенсивный восстанавливающий крем для контура глаз с экстрактом морской звезды
    .price 779р
    .detail Подробнее
    .buy Купить
  .brands-title Бренды
  #myCarousel3.carousel.slide(data-ride="carousel")
    .carousel-inner
      - each itemArr in brend
        .item.item-brend
          - each item in itemArr
            a(href="/nav/brend?key="+item['_id'])
              img.brand(src !="../img/brends/#{item['_id']}/img.#{item.img}")
    a.left.carousel-control(data-slide="prev",href="#myCarousel3")
    a.right.carousel-control(data-slide="next",href="#myCarousel3")



  .reviews-title Отзывы
  .go-catalog.type1
    a(href="#") Перейти к каталогу  >
