extends layout

block content
  include navigation
  != js('product')
  #product-page
    input#firstData(type="hidden", user=JSON.stringify(user), product=JSON.stringify(product))
    .catalog Каталог
    .product-cont
      .left
        img.product-img(src!="../img/products/"+product['_id']+"/"+product.picture[0]+"", width="353px",height="353px")
      .right
        .title #{product.title}
        .short-descr #{product.minOpisanie}
        label.ob-lab.product-label Объем:
        .ob #{product.obem} мл
        label.weight-lab.product-label Вес:
        .weight #{product.ves} гр
        br
        label.ton.product-label Оттенок:
        -if (product.vid.length == 0)
            select.ton
                option One Kind
        -if (product.vid.length != 0)
            select.ton
                - each vid in product.vid
                    option #{vid}

        br
        label.sclad.product-label Осталось на складе:
        select.sclad
            option #{product.ostatok}
        br
        label.product-label ID:
        .id #{product.id}
        br
        label.product-label.price-lab Цена:
        .old-price #{product.oldCost}
          span р
        .new-price #{product.cost}
          span р
        br
        .buy-fast Купить быстро
        if user
          if cartAdded
            .in-basket.addCart(idProd="#{product['_id']}", t="#{product['_id']}") В корзину
          if !cartAdded
            .in-basket(idProd="#{product['_id']}", t="#{product['_id']}") В корзинe
        if !user
            .in-basket.setCookieCart(idProd="#{product['_id']}", ts="#{product['_id']}") В корзину
            .in-basket.nsetCookieCart(idProd="#{product['_id']}", style="display:none", th="#{product['_id']}") В корзинe

        if user
          if favAdded
            .favorites.addFav(id="#{product['_id']}", f="#{product['_id']}") В избранное
          if !favAdded
            .favorites(id="#{product['_id']}", f="#{product['_id']}") В избранном
        if !user
            .favorites.setCookie(id="#{product['_id']}", fs="#{product['_id']}") В избранное
            .favorites.nsetCookie.hide(id="#{product['_id']}", fh="#{product['_id']}") В избранном
      #adv1-block
        div.line
        div.f1 ГАРАНТИЯ КАЧЕСТВА
        div.line
        div.f2 БЕЗОПАСНОСТЬ
        div.line
        div.f3 БЫСТРАЯ ДОСТАВКА
        div.line
        div.f4  ГАРАНТИЯ ВОЗВРАТА
        div.line
        div.f5 УДОБНАЯ ОПЛАТА
        div.line
      #adv2-block
        .f1 10 пробников
        .f2 В ПОДАРОК
        .f3 при любой покупке!
      label.product-label Описание:
      .description
        p #{product.opisanie}
        //p Тоник останавливает потерю влаги, успокаивает кожу, смягчает и подготавливает ее к нанесению последующего ухода.
      label.product-label Применение:
      .application
        p #{product.primenenie}
        //p Дайте тонеру впитаться, и приступайте к последующему уходу (сыворотка, лосьон или крем).
      #go-link1.link1 Подробнее о тонерах в корейской косметике
      .link2 Особенности азиатского ухода за кожей
      - if(product.imgVid)
        img.ill-top(src!="../img/products/"+product['_id']+"/vid."+product.imgVid+"")
    #rewiew-block
      .rewiew-title ОТЗЫВЫ
      .line
      .new-rew-block.rew-block
        - if(user && user.ava) 
              img.you-photo.photo(src!="/img/users/" + user["_id"] + "/ava." + user["ava"])
        - else
          .you-photo.photo(src="/img/add-bg.png")
        .text-block#block-inp-com
          input.inp-name#inp-name-ot(type="text",placeholder="Введите имя")
          textarea.inp-rew.inp-rew-ob(placeholder="Напишите отзыв")
          div.sbm-pcom Отправить
      #rew-block-cont
        .rew-block
          .photo
          .text-block
            .name Константин Крестов  (36, Вологда)  
            .date 10.02.14
            .time 21:59    
            .rewiew Просто зашибенный зашибись, я в афиге, какой крем! Он тааааак мажется, таааак вкусно воняет, я себе купил, жене купил, собаке купил! Охеренный крем! Не липнет, не течет, на вкус Не липнет, не течет, на вкус Не липнет, не течет, на вкус Не липнет, не течет, на вкус Не липнет, не течет, на вкус
              .over ... 
                span Показать полностью
            .actions
              .left
                a(href="#") Комментарии (2)
                a.answer(href="#rewiew-block") Ответить
              .right  
                a.pol(href="#") Полезный отзыв?
                a.yes(href="#") Да (5) 
                a.no(href="#") Нет (2)             
                 

    a(href="#").go-catalog < К Каталогу       
    
    
    script#pCommentTemplate(type="text/template")
      img(src!="<%=data.ava%>").photo
      .text-block
        .name <%=data.name%>
        .date <%=data.sDate%>
        .time <%=data.time%>
        .rewiew.rewiew-pc <%=data.text%>
          .over-hide-pc
            span Скрыть
          .over.over-pc ... 
            span Показать полностью
        .actions
          .left
            a.com-count(nohref="nohref", style="cursor:pointer") Комментарии (<%=data.comments.length%>)
            a.answer(nohref="nohref", style="cursor:pointer") Ответить
          .right  
            a.pol(nohref="nohref") Полезный отзыв?
            a.yes(nohref="nohref", style="cursor:pointer") Да (<%=data.yes%>) 
            a.no(nohref="nohref", style="cursor:pointer") Нет (<%=data.no%>) 
      .coments-cont(style="width: 716px; margin-left: 102px; margin-top: 10px; display:none")
        .new-rew-block.rew-block.add-com-cont(style="display:none")
          img.you-photo.photo(src="/img/add-bg.png")
          .text-block(style="width:400px")
            input.inp-name.inp-name-com(type="text",placeholder="Введите имя")
            textarea.inp-rew(placeholder="Напишите комментарий", style="width: 590px;margin-bottom: 10px;")
            span.sbm-comment Отправить
        .ap-coments-cont
      
    script#commentTemplate(type="text/template")
      div(style="margin-bottom: 7px;")
        img.photo(src!="<%=data.avaLink%>")
        .text-block(style="width: 601px;")
          .name <%=data.name%>
          .date <%=data.sDate%>
          .time <%=data.time%>
          .rewiew.rewiew-c(style="width:601px") <%=data.text%>
            .over.over-c ... 
              span Показать полностью
          .over-hide-c Скрыть
      
