extends layout

block content
  include navigation
  != js('product')
  #product-page
    input#firstData(type="hidden")
    .catalog Каталог
    .product-cont
      .left
        img.product-img(src!="../img/products/"+product['_id']+"/"+product.picture[0]+"", width="353px",height="353px")
      .right
        .title #{product.title}
        .short-descr #{product.minOpisanie}
        label.ob-lab.product-label Объем:
        .ob #{product.obem} мл
        label.weight-lab.product-label Вес:
        .weight #{product.ves} гр
        br
        label.ton.product-label Оттенок:
        -if (product.vid.length == 0)
            select.ton
                option One Kind
        -if (product.vid.length != 0)
            select.ton
                - each vid in product.vid
                    option #{vid}

        br
        label.sclad.product-label Осталось на складе:
        select.sclad
            option #{product.ostatok}
        br
        label.product-label ID:
        .id #{product.id}
        br
        label.product-label.price-lab Цена:
        .old-price #{product.oldCost}
          span р
        .new-price #{product.cost}
          span р
        br
        .buy-fast Купить быстро
        .in-basket В корзину
        if user
          if favAdded
            .favorites.addFav(id="#{product['_id']}") В избранное
          if !favAdded
            .favorites(id="#{product['_id']}") В избранном
      #adv1-block
        div.line
        div.f1 ГАРАНТИЯ КАЧЕСТВА
        div.line
        div.f2 БЕЗОПАСНОСТЬ
        div.line
        div.f3 БЫСТРАЯ ДОСТАВКА
        div.line
        div.f4  ГАРАНТИЯ ВОЗВРАТА
        div.line
        div.f5 УДОБНАЯ ОПЛАТА
        div.line
      #adv2-block
        .f1 10 пробников
        .f2 В ПОДАРОК
        .f3 при любой покупке!
      label.product-label Описание:
      .description
        p #{product.opisanie}
        //p Тоник останавливает потерю влаги, успокаивает кожу, смягчает и подготавливает ее к нанесению последующего ухода.
      label.product-label Применение:
      .application
        p #{product.primenenie}
        //p Дайте тонеру впитаться, и приступайте к последующему уходу (сыворотка, лосьон или крем).
      .link1 Подробнее о тонерах в корейской косметике
      .link2 Особенности азиатского ухода за кожей
      - if(product.imgVid)
        img.ill-top(src!="../img/products/"+product['_id']+"/vid."+product.imgVid+"")
            
